<MarketplaceDetails>
  <SmallAppTile>Store Tile 300x300.png</SmallAppTile>
  <ScreenShots>capture1wvga.png;capture2wvga.png;;;;;;;</ScreenShots>
  <ScreenShotsWXGA>capture1wxga.png;capture2wxga.png;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>capture1720.png;capture2720.png;;;;;;;</ScreenShots720P>
</MarketplaceDetails>